
{% extends 'home/index.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">Nuevo Cliente</h1>
                        {{ form_start(form) }}
                        <div class="mb-3">
                            {{ form_label(form.nombre, 'Nombre', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.nombre, {'attr': {'class': 'form-control', 'placeholder': 'Ingrese el nombre'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.apellidos, 'Apellidos', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.apellidos, {'attr': {'class': 'form-control', 'placeholder': 'Ingrese apellidos'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.telefono, 'Telefono', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.telefono, {'attr': {'class': 'form-control', 'placeholder': 'Ingrese el telefono'}}) }}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
